<h1>Gallery successfully deleted!</h1>

<br>
<div>
  <h2><%= link_to "Back to User Show for #{@user.user_name}", user_path(@user) %></h2>
</div>

<br>
<div>
  <h2><%= link_to 'Back to User Index', users_path %></h2>
</div>
