<div><h1>Gallery Index</h1></div>

NOTE: the Gallery Index should ONLY be accessible through
a "Show all Galleries" portal from the main page--DO NOT
LINK this index to Gallery/User show/edit view...

<div>
  <% @galleries.each do |gallery| %>
    <h2><%= link_to "#{gallery.name} (created by #{gallery.user.user_name})", user_gallery_path(gallery) %></h2>
  <% end %>
</div>

<br><br>
<div>
  <h2><%= link_to 'Back to User Index', users_path %></h2>
</div>


<br><br><br>
