<h1>Use this page to search for published galleries!</h1>

<br>
<div>
  <h2>Search for galleries:</h2>
  <p>Search by user:</p> <!-- collection_select -->
  <p>Search by theme:</p> <!-- collection_select -->
  <p>Search by medium:</p> <!-- collection_select -->
  <p>Search by gallery name:</p> <!-- collection_select -->
</div>

<br>
<div>
  <!-- need to add a Published field to Gallery model?? -->
  <h2>All published galleries:</h2>
  <% Gallery.all.each do |gallery| %>
    <p><%= link_to "#{gallery.name} (created by #{gallery.user.user_name})", view_published_gallery_path(gallery) %></p>
  <% end %>
</div>


<br><br>
<div>
  <h2><%= link_to 'Back to Main Page', root_path %></h2>
</div>
