<h1>Welcome to the GallerySpace main page!</h1>



<br><br>
<div>
  <h2><%= link_to 'User Index', users_path %></h2>
</div>


<br><br>
<div>
  <h2><%= link_to 'Search and View Galleries', search_for_galleries_path %></h2>
</div>
