<h1>Custom Settings successfully deleted!</h1>

<br>
<div>
  <h2><%= link_to "Back to Gallery", user_gallery_path(current_user.id, @gallery.id) %></h2>
</div>

<br>
<div>
  <h2><%= link_to "Back to Your Profile", user_path(current_user.id) %></h2>
</div>

<br>
<div>
  <h2><%= link_to 'Back to Main Page', root_path %></h2>
</div>
