<br><br><br>

<h2>Welcome to GallerySpace!</h2>
<p>This is a place for you to curate images in a digital gallery space.</p>
<br><br>

<h3>From here, you can...</h3>
<br>
<font size=5>
  <div>
  <%= link_to 'View Galleries', search_for_galleries_path %>
  </div>

  <br>
  <div>
    <%= link_to 'Browse Users', users_path %>
  </div>

  <br>
  <div>
    <%= link_to "Create New User", new_user_path %>
  </div>
</font>


<br><br><br>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<br><br><br>
