
<body>

  <br><br><br>

  <div>
    <h2>Browse Users</h2>
    You can add them to your Friends!
  </div>
  <br><br>

  <br>
  <h3>All Users:</h3>
  <font size=4>
    <div>
      <% @users.each do |user| %>
        <%= link_to user.user_name, show_your_profile_path(user) %><br><br>
      <% end %>
    </div>
  </font>

  <br><br><br>
  <div>
    <h4><%= link_to 'Create New User', new_user_path %></h4>
  </div>

  <br><br><br>
  <div>
    <h4><%= link_to 'Back to Main Page', root_path %></h4>
  </div>

</body>
