<h1>Gallery successfully deleted!</h1>

<br>
<div>
  <h2><%= link_to "Back to Your Profile", user_path(current_user.id) %></h2>
</div>

<br>
<div>
  <h2><%= link_to 'Back to Main Page', root_path %></h2>
</div>


<br><br><br>
